.login-background {
  background-color: rgb(0,211,255);
  background: linear-gradient(135deg, rgba(0,211,255,1) 0%, rgba(66,135,255,1) 25%, rgba(184,0,255,1) 100%); 
  background-attachment: fixed;
}
